<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNG Forum</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a76f76">  <td>16/11/14 09:19:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.beforeClass()[pri:0, instance:com.appium.tests.additemtoCartTest@17c386de]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@872683385</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>16/11/14 09:19:24</td>   <td>508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.startApp(java.lang.reflect.Method)[pri:0, instance:com.appium.tests.additemtoCartTest@17c386de]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@872683385</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>16/11/14 09:19:24</td>   <td>513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.startApp(java.lang.reflect.Method)[pri:0, instance:com.appium.tests.additemtoCartTest@17c386de]">&gt;&gt;startApp</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@872683385</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>16/11/14 09:19:24</td>   <td>511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.additemtoCartTest@17c386de]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@872683385</td>   <td></td> </tr>
<tr bgcolor="a76f76">  <td>16/11/14 09:19:24</td>   <td>513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.additemtoCartTest@17c386de]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>pool-1-thread-1@872683385</td>   <td></td> </tr>
</table>
