<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>android</td><td>additemtoCartTest.testadditemtoCartTest(java.lang.reflect.Method)[pri:0, instance:com.appium.tests.additemtoCartTest@15b90e07]<br/>Runner.main([Ljava.lang.String;)[pri:0, instance:com.appium.tests.Runner@77ba3153]<br/></td></tr>
<tr><td>iOS</td><td>additemtoCartTest.testadditemtoCartTest(java.lang.reflect.Method)[pri:0, instance:com.appium.tests.additemtoCartTest@15b90e07]<br/>Runner.main([Ljava.lang.String;)[pri:0, instance:com.appium.tests.Runner@77ba3153]<br/></td></tr>
</table>
