<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Travelstart Android Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8564c6">  <td>16/11/11 22:07:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="additemtoCartTest.testadditemtoCartTest(java.lang.reflect.Method)[pri:0, instance:com.appium.tests.additemtoCartTest@15b90e07]">testadditemtoCartTest</td> 
  <td>Test worker@1485009422</td>   <td></td> </tr>
<tr bgcolor="b18c7e">  <td>16/11/11 22:07:36</td>   <td>707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.additemtoCartTest@15b90e07]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1485009422</td>   <td></td> </tr>
</table>
