<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Travelstart MobiSite Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:42</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>905</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1035</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:44</td>   <td>1218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:44</td>   <td>1244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>890</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1089</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:43</td>   <td>1152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:44</td>   <td>1216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:44</td>   <td>1241</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="d2a081">  <td>16/07/22 10:55:44</td>   <td>1298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:43</td>   <td>794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:43</td>   <td>925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:43</td>   <td>1021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:43</td>   <td>1078</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:43</td>   <td>1151</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:44</td>   <td>1212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:44</td>   <td>1240</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
<tr bgcolor="fa61aa">  <td>16/07/22 10:55:44</td>   <td>1268</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchFlightsMobi.testSearchFlightsMobi(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.appium.tests.SearchFlightsMobi@4b76978]">testSearchFlightsMobi</td> 
  <td>Test worker@1114941274</td>   <td></td> </tr>
</table>
