<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>android</td><td>additemtoCart.additemtoCart()[pri:0, instance:[additemtoCart passed=0 failed=0 skipped=0]]<br/></td></tr>
<tr><td>iOS</td><td>additemtoCart.additemtoCart()[pri:0, instance:[additemtoCart passed=0 failed=0 skipped=0]]<br/></td></tr>
</table>
