<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Travelstart iOS Regression Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8786bf">  <td>16/11/08 11:14:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DriverFactory.getDriverInstance()[pri:0, instance:[additemtoCart passed=0 failed=0 skipped=0]]">&gt;&gt;getDriverInstance</td> 
<td>&nbsp;</td>  <td>Test worker@183275846</td>   <td></td> </tr>
<tr bgcolor="bbd87f">  <td>16/11/08 11:14:22</td>   <td>550</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="additemtoCart.additemtoCart()[pri:0, instance:[additemtoCart passed=0 failed=0 skipped=0]]">additemtoCart</td> 
  <td>Test worker@183275846</td>   <td></td> </tr>
<tr bgcolor="8786bf">  <td>16/11/08 11:14:23</td>   <td>707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DriverFactory.tearDown(org.testng.ITestResult)[pri:0, instance:[additemtoCart passed=0 failed=0 skipped=0]]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>Test worker@183275846</td>   <td></td> </tr>
</table>
